<!DOCTYPE html>
{% load staticfiles compress %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑文章</title>
    <!-- 引入css -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/editormd/editor/css/editormd.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/layer.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/update_blog.css' %}">
    {% endcompress %}
</head>
<body>
{% csrf_token %}
<div class="layui-form use-info" data-url="{% url 'update_blog' %}" data-userid="{{ user.id }}" data-articleid="{{ article.article_id }}">
    <div style="width: 8%;border: 1px solid #00aaaa;margin-left: 1px;display: inline-block;">
          <select name="type" lay-verify="" class="type">
              {% for tag in tags %}
                  {% if article.tag.type == tag.type %}
                      <option value="{{ tag.type }}" selected>{{ tag.type }}</option>
                  {% else %}
                      <option value="{{ tag.type }}">{{ tag.type }}</option>
                  {% endif %}
              {% endfor %}
          </select>
    </div>
    <div class="layui-form-item" style="display: inline-block;width: 80%">
        <div class="layui-input-block" style="margin-left: 0">
            <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input title" style="padding: 0;" value="{{ article.title }}">
        </div>
    </div>
    <div class="layui-form-item" style="display: inline-block;width: 10%">
        <div class="layui-input-block" style="margin-left: 0">
            <button class="layui-btn update-btn" lay-submit lay-filter="formDemo" style="padding: 0;width: 100%">立即修改</button>
        </div>
    </div>
</div>
<div id="editormd">
    <textarea name="content" placeholder="博客内容">
        {{ article.real_content }}
    </textarea>
</div>
</body>
{% compress js %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/editormd/editor/editormd.min.js' %}"></script>
    <script src="{% static 'js/layui.all.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/blog/markdown_config.js' %}"></script>
    <script src="{% static 'js/blog/article_edit.js' %}"></script>
    <script src="{% static 'js/user/update_blog.js' %}"></script>
{% endcompress %}
</html>