.nav-side{
    margin-left: 12%;
    text-align: center;
    margin-top: 55px;
}

.item-manage{
    position: relative;
    margin-left: 30%;
    margin-top:55px;
    width: 60%;
}

.panel-body{
    padding: 0;
}

.file_url{
    color: #00c4ff;
}
.file_url:hover{
    text-decoration: none;
    color: #9c3328;
}
