html,body{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
}

.nav-side{
    margin-left: 12%;
    text-align: center;
}

.pic-manage{
    position: relative;
    margin-left: 30%;
    margin-top:55px;
    width: 60%;
    height: 100%;
}

.panel-body{
    padding: 0;
}