<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/blog/base.css/?v=1">
    <link rel="stylesheet" href="/static/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/layer.css" media="all">
    <script src="/static/js/layui.all.js"></script>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default nav-rejust">
    <ul class="layui-nav" lay-filter="">
        <li style="display:inline-block;" class="home">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-size:20px;" href="{% url 'blog' %}">ZYLH</a>
            </div>
        </li>
        <li class="layui-nav-item first-li"><a href="{% url 'blog' %}">博客</a></li>
        <li class="layui-nav-item"><a href="">项目</a></li>
        <li class="layui-nav-item"><a href="">资料</a></li>
        <li class="layui-nav-item"><a href="">后台管理</a></li>
        <li class="search-li">
            <form class="search-form">
                {% csrf_token %}
                <div class="form-group search-input">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <input type="submit" class="btn btn-default search-btn" value="搜索"></input>
            </form>
        </li>
        <li class="create-li">
            <button type="submit" class="btn btn-danger create-btn">创作</button>
        </li>
        <li class="layui-nav-item">
            <a href="">控制台<span class="layui-badge">9</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item">
            {% if user %}
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">
            {% else %}
                <a href="{% url 'login' %}">登录</a>
            {% endif %}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">{{ user.username }}</a></dd>
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
            </dl>
        </li>
    </ul>

    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;

            //…
        });
    </script>
</nav>

{% block content %}
{% endblock %}
</body>
</html>