{% extends 'base.html' %}
{% load staticfiles compress %}
{% block title %}
    资料
{% endblock %}
{% block css %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/blog/datas.css' %}">
    {% endcompress %}
{% endblock %}
{% block js %}
    {% compress js %}
    <script src="{% static 'js/blog/datas.js' %}"></script>
    {% endcompress %}
    <script>
        window.onload = function () {
            zlqiniu.setUp({
                'domain': 'http://qg8ptm4y0.hd-bkt.clouddn.com/',     //域名
                'browse_btn': 'upload-btn',                //上传文件摁纽id
                'uptoken_url': '/blog/uptoken/',                //uptoken的url,即定义返回uptoken的视图
                'success': function (up, file, info) {       //成功后的回调函数
                    //console.log(file);                    //file中包含了这个文件的全部信息
                    var processBox = document.getElementById("process-box");
                    var file_url = file.name;
                    var FileInput = document.getElementById('file-url');
                    FileInput.value = file_url;
                    processBox.innerText = '上传完成'
                },
                'progress': function (up, file) {
                    var processBox = document.getElementById("process-box");
                    processBox.style.width = file.percent + '%';
                    processBox.innerText = file.percent + '%';
                }

            })
        }
    </script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="main_content">
        <div class="top-box">
            <span class="item-list">资料列表</span>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#item-dialog">上传资料</button>
        </div>
        <div class="item-container">
            <div class="item-body">
            {% for data in datas %}
                <div class="panel panel-warning single-item">
                        <div class="panel-heading item-head">
                            <span class="head-img"><img src="{% if data.user.setting %}{{ data.user.setting.head_img }}{% else %}https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=38616266,2952961838&fm=26&gp=0.jpg{% endif %}" alt=""></span>
                            <span class="username"><a href="{% url 'single_message' data.user.username %}" class="user-info-a">{{ data.user.setting.nick_name|default:data.user.username }}</a></span>
                            <a href="{{ data.file_url }}" class="btn btn-info download-item" target="_blank">下载资料</a>
                        </div>
                        <div class="panel-body item-introduce">
                            <p style="font-size: larger;margin-bottom: 5px">描述:</p>
                            <p>{{ data.describe }}</p>
                            <div class="footer">
                                {{ data.create_time }}
                            </div>
                        </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="item-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">上传资料</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">描述:</label>
                            <div class="col-sm-10">
                                <textarea name="describe" id="" cols="30" rows="10"
                                          style="width: 100%;height: 100%;resize: none;" placeholder="描述"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">资料:</label>
                            <div class="col-sm-10">
                                <button class="btn btn-info" id="upload-btn">上传文件</button>
                            </div>
                            <input type="hidden" id="file-url" name="file_url" value="">
                        </div>
                        <div class="form-group" id="process-group" style="display: none">
                            <label for="" class="col-sm-2 control-label">上传进度:</label>
                            <div class="col-sm-10 process-div">
                                <div class="progress">
                                    <div class="progress-bar" id="process-box" role="progressbar" aria-valuenow="0"
                                         aria-valuemin="0"
                                         aria-valuemax="100" style="width: 0%;">
                                        0%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save-btn">保存</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}