.prettyprint {
    background: #282c34 !important;
}

code span {
    color: #abb2bf !important;
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: none !important;
}
.layui-unselect input{
    padding: 0!important;
    color: #00aaaa;
}
.layui-input{
    text-align: center;
}